apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: k-challenge-namespace

# Base configuration
resources:
  - ../../base

# Image replacements - these override the placeholder images in base deployments
# AWS Account ID and Region are dynamically replaced at deployment time
# IMPORTANT: Keep placeholders in Git - deployment scripts will replace them temporarily
# Argo CD Image Updater will update image tags automatically
images:
  - name: auxiliary-service
    newName: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/k-challenge-dev-auxiliary-service
    newTag: latest
  - name: main-api
    newName: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/k-challenge-dev-main-api
    newTag: latest

# Note: We don't use commonLabels here because it would modify
# Deployment selectors (which are immutable). Labels are defined
# directly in the deployment files.

