apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  registries.conf: |
    registries:
    - name: AWS ECR
      prefix: "*"
      api_url: https://api.ecr.*.amazonaws.com
      default: true
      credentials: ext:/scripts/ecr-login.sh
      credsexpiry: 12h
      ping: yes
  git.user: "argocd-image-updater"
  git.email: "noreply@argocd-image-updater"
  log.level: info

---
apiVersion: v1
kind: Secret
metadata:
  name: argocd-image-updater-secret
  namespace: argocd
type: Opaque
stringData:
  # AWS credentials for ECR access
  # These will be populated from AWS credentials
  AWS_ACCESS_KEY_ID: ""
  AWS_SECRET_ACCESS_KEY: ""

