apiVersion: v1
kind: Secret
metadata:
  name: ecr-registry-secret
  namespace: k-challenge-namespace
type: kubernetes.io/dockerconfigjson
data:
  # This secret is generated dynamically using:
  # export AWS_PROFILE=your-profile
  # export ECR_REGISTRY="yournumber.dkr.ecr.your-region.amazonaws.com"
  # export ECR_TOKEN=$(aws ecr get-login-password --region your-region)
  # kubectl create secret docker-registry ecr-registry-secret \
  #   --docker-server=$ECR_REGISTRY \
  #   --docker-username=AWS \
  #   --docker-password=$ECR_TOKEN \
  #   --namespace=k-challenge-namespace
  #
  # Note: ECR tokens expire after 12 hours. Refresh the secret periodically.
  .dockerconfigjson: <base64-encoded-docker-config>

